/*****************************************************************
    Dependencias variaveis
*****************************************************************/
@font-face {
        font-family: "Roboto-Regular";
        src: url('fonts/Roboto-Regular.ttf');
}

@font-face {
        font-family: "Roboto-Bold";
        src: url('fonts/Roboto-Bold.ttf');
}

@font-face {
        font-family: "Roboto-Light";
        src: url('fonts/Roboto-Light.ttf');
}

@import url(https://fonts.googleapis.com/css?family=Raleway);

:root{
    --cor1: #081644;
    --cor2: #aaaba6;
    --cor3: #020A13;
    --color-light-gray: #ddd;
    --color-gray: #F4F4F4;
}

/*****************************************************************
    Comum
*****************************************************************/
html {
  scroll-behavior: smooth;
}
body {
    margin:0;
    padding: 0;
    width: 100%;
    font-family: "Roboto-Regular";
    /*overflow-x: hidden;*/
    overflow: auto;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#container{
  display: grid;
  width: 100%;
  grid-template-areas:    "header header header" 
                          "main main main" 
                          "footer footer footer";
}

/*****************************************************************
    Scrolllbar
*****************************************************************/
    /* width */
    ::-webkit-scrollbar {
        width: 3px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f100;
    }

    ::-webkit-scrollbar-track:hover {
        background: #f1f1f100; 
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888888; 
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }

/*****************************************************************
    Comum
*****************************************************************/

  /*HEADER-BEGIN
  */
    #logo > a{
      display: flex;
      align-items: center;
    }
    #logo > a > img{
        width: 40px;
        height: 40px;
    }
  /*HEADER-END
  */

  /*MAIN
    BEGIN
  */
    main {
        grid-area: main;
        display: grid;
        background-color: var(--color-gray);
    }

    .button{
      border: 2px solid var(--cor2);
      padding: 8px 24px;
      color: inherit;
      background-color: var(--cor1);
      transition: background-color 0.8s;
      border-radius: 5px;
      cursor: pointer;
    }

    .button:hover{
      background-color: rgb(40, 32, 30, .1);
    }

  /*MAIN
    END
  */

  /*FOOTER
    BEGIN
  */
    footer {
      grid-area: footer;
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
      grid-gap: 10px;
      padding: 0px 10%;
      background-color: var(--cor3);
      color: var(--color-light-gray);
    }

    .grid_paddin_left{
      padding-left: 20px;
    }

    footer i{
        margin-right: 10px;
    }

    footer ul{
        list-style: none;
        padding:0;
        margin: 0;
    }

    footer div:nth-of-type(3) > ul > li{
        display: inline;
        padding: 4px;
    }

.texto_rodape {
      border-top: 1px solid grey;
      text-align: center;
      padding-top: 16px;
    }

label {
  display: block;
  margin-top: 10px;
}

.input_texto{
  width: 100%;
}

.input_espaco{
  margin-bottom: 10px;
}
  /*FOOTER
    END
  */

.article_link{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.article_link:visited{
  color: rgb(255, 255, 255);
}
.texto_cor_preto{
  color: rgb(0, 0, 0) !important;
}

.titulo{
  display: flex;
  flex-flow: column;
  align-items: center;
}
.titulo_texto{
  text-align: center;
}
.titulo_borda{
  background-color: var(--cor1);
  width: 40px;
  height: 2px;
}

.letra_branca{
  color:rgb(255, 255, 255);
}

#quote_area_texto_principal{
  text-transform: uppercase;
}

#quote_area_texto_descritivo{
  color: var(--color-light-gray);
}

.estilo_icone{
}

.programa_container{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image:  url("../img/gameplay (1).png");  
  background-size: cover;
  padding: 10px 14px 4px 10px;
  width: 350px;
  min-width: 350px;
  height: 200px;
  margin: 20px 10px 50px 10px;
}
.programa_paragrafo{
  margin: 5px 0px;
}
.programa_texto{
  background-color: white;
  padding: 4px;
  margin-left: 2px;
}
.programa_texto_descricao{
  margin: 0px;
  margin-left: 2px;
  padding: 4px;
  background-color: white;
  word-wrap: break-word;
  white-space: normal;
}


/*****************************************************************
    Mobile
*****************************************************************/

/*NAV
  BEGIN
*/

  .top-nav {
      grid-area: header;
      display: flex;
      align-items: center;
      background-color: var(--cor1);
      height: 60px;
      padding: 0px 20px;
      justify-content: space-between;
      width: 100%;
    }

    .menu {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      margin: 0;
      padding: 0;
      background-color: var(--cor1);
    }
    
    .menu > li {
      margin: 0 1rem;
      overflow: hidden;
    }
    .menu > li > a:visited{
      color: rgb(255, 255, 255);
    }
    .menu > li > a{
      color: rgb(255, 255, 255);
    }
    
    .menu-button-container {
      display: none;
      height: 100%;
      width: 30px;
      margin-right: 5px;
      cursor: pointer;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    
    #menu-toggle {
      display: none;
    }
    
    .menu-button,
    .menu-button::before,
    .menu-button::after {
      display: block;
      background-color: #ffffff;
      position: absolute;
      height: 4px;
      width: 30px;
      transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
      border-radius: 2px;
    }
    
    .menu-button::before {
      content: '';
      margin-top: -8px;
    }
    
    .menu-button::after {
      content: '';
      margin-top: 8px;
    }
    
    #menu-toggle:checked + .menu-button-container .menu-button::before {
      margin-top: 0px;
      transform: rotate(405deg);
    }
    
    #menu-toggle:checked + .menu-button-container .menu-button {
      background: rgba(255, 255, 255, 0);
    }
    
    #menu-toggle:checked + .menu-button-container .menu-button::after {
      margin-top: 0px;
      transform: rotate(-405deg);
    }
    
    @media (max-width: 700px) {
      .menu-button-container {
        display: flex;
      }

      .menu {
        position: absolute;
        top: 0;
        margin-top: 60px;
        left: 0;
        flex-direction: column;
        width: 100%;
        align-items: center;
        background-color: var(--cor1);
      }

      #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      }

      #menu-toggle:checked ~ .menu li {
        height: 2.5em;
        padding: 0.5em;
        /*transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);*/
      }

      #menu-toggle:checked ~ .menu{
        height: 100%;
      }

      .menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: var(--cor1);
      }

      .menu > li > a:visited, a:link{
          color: white;
          text-decoration: none;
          text-align: center;
          line-height: 40px;
        }
    }
/*NAV
  END
*/

/*************************************************************
    Desktop
*************************************************************/

#menu {
    flex: 2;
    flex-flow: row;
    display: flex;
    margin: 30px 0 0 0;
}

#menu li a:hover{
    color: var(--cor1);
}

@media screen and (min-width: 700px){
  footer p:last-child {
    grid-column-end: span 3;
  }

  .flex_ocupa_linha {
    flex: 0 0 100%; /* This makes the item occupy the full row width */
  }

  .actual-pagina {
    border-bottom: 5px solid var(--color-light-gray) !important;
}

}
