#container {
    border-bottom: 2px solid grey;
    margin-top: 30px;
    width: 90%;
    overflow: auto;
    margin: 30px auto;
}

.main {
    float: left;
    width: 50em;
    margin-left: 20px;
}

.row1 {
    border-top: 2px solid grey;
    height: 240px;
}

.content1 {
    float: left;
    width: 200px;
    height: 100%;
}

.content1 img{
    height: 100px;
    width: 100%;
}

.content1 p {
    margin: 0;
}

.content-midle {
    margin: 0 100px;
}

#decricao {
    color: grey;
}

/******************************
Row 2
***************************/

.row2 {
    border-top: 2px solid grey;
    margin-top: 30px;
    width: 100%;
    height: 280px;
}

.column1 {
    float: left;
    width: 281px;
    height: 100px;
}

.column1 img
{
    float: left;
    border-radius: 26%;
    border: 1px solid black;
    width: 93px;
    height: 93px;
    margin-right: 10px;
}

.column2 {
    float: right;
    width: 281px;
    height: 100px;
}

.column2 img
{
    float: left;
    border-radius: 26%;
    border: 1px solid black;
    width: 93px;
    height: 93px;
    margin-right: 10px;
}



.decricao2 p{
   margin: 0;
}

/********************************************
Side bar
********************************/

.side-bar {
    float: left;
    width: 373px;
    border-top: 2px solid grey;
    margin-left: 20px;
}

.side-bar ol li{
    margin-bottom: 20px;
}

.side-bar a{
    text-decoration: none;
    color: black;
    margin-left: 40px;
}



