/**************************************************************
    Comum
**************************************************************/

#banner{
    grid-area: b;
    display: flex;
    flex-direction: column-reverse;
    background: url("../img/wallpaper_basket_pc.jpg") rgb(0,0,0) no-repeat center;     
    background-size: cover;
    height: calc(100vh - 60px);
}
.banner_link{
    color: var(--color-light-gray);
    border: var(--color-light-gray) 2px solid;
    background: none;
    border-radius: 7px;
    padding: 6px 30px;
    cursor: pointer;
    font-size: 14px;
}
.banner_link:hover{
    background: var(--cor3);
}
#quote-area {
    color: white;
    font-weight: normal;
    font-family: "Roboto-Light";
    padding-left: 20px;
    overflow: hidden;
    padding-bottom: 50px;
    background: rgba(0, 0, 0,.5);
}
#quote-area > h5, p {
    margin-top: 0;
}
#quote-area > h5{
    margin-bottom: 5px;
    font-size: 1.6em;
}
#quote-area > p{ 
    margin-bottom: 20px;
}

.section_comum{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    background-color: white !important; 
    margin: 10px 14px;
    padding: 0px 14px;
}
.section_comum_scroll{
    overflow: hidden;
}
#section_noticias_container{
    display: flex;
    align-items: center;
    flex-flow: column;
}

article {
    position: relative;
    margin: 20px 40px;
    background-color: rgba(255, 255, 255);
    max-height: 380px;
    max-width: 350px;
    border-radius: 10px;
    box-shadow: 2px 1px 23px 4px #D3D3D3;
}

.article_img{
    border-radius: 10px 10px 0 0;
    width: 100%;
}

.article_espaco{
    margin: 5px 10px 20px 10px;
}
.font_pequena{
    font-size: smaller;
}
.article_margin_texto{
    margin: 0 0 10px 0;
}
.article_data{
    color: var(--cor2);
}

#texto_indicador_container{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    margin-top: 40px;
    padding: 0px 35%;
}

.texto_progresso{
    width: 15px;
    height: 15px;
    background-color: rgba(255, 255, 255,0);
    border: 1px solid white;
    border-radius: 100%;
    transition: background-color 600ms;
    cursor: pointer;
}
.texto_progresso_selecionado{
    background-color: rgba(255, 255, 255,1);
}

table{
    border-spacing: 0;
    margin: 20px;
}
.tb_row > th {
    padding: 10px;
}
.tb_row > td{
    border-top: var(--color-light-gray) 1px solid;
    padding: 15px 5px;
}
.tb_row > th:first-child{
    padding-right: 200px !important;
}
.tb_row > td:nth-child(n+2){
    text-align: center;
}
.tb_row > tr:hover{
    background-color: lightgrey;
}

.icon_link {
    display: inline-block;
}

.container_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px; /* Set the width and height to match your desired size */
    height: 40px;
    border-radius: 50%; /* Makes it a circle */
    background-color: #ffffff; /* Background color of the icon */
}

.container_icon_fb{
    background-color: #297be5; 
}

.container_icon_ig{
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}
/**************************************************************
    Mobile
**************************************************************/

#section_container_programas{
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
}

#section_container_programas::-webkit-scrollbar {
    -webkit-appearance: none !important;
    display: none;
}

#section_patrocinio{
    grid-area: p;
}
#section_container_patrocinio{

}

/**************************************************************
    Desktop
**************************************************************/

@media screen and (min-width: 700px){
    #banner{
        flex-direction: row-reverse;
    }

    #quote-area {
        margin-top: 90px;
        background: none;
        width: 40%;
        background: none;
    }

    section {
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    #section_noticias_container{
        flex-flow: row;
    }
}

