/**************************************************************
    Comum
**************************************************************/

#banner{
    display: flex;
    flex-direction: column-reverse;
    background: url("../img/wallpaper_basket_pc.jpg") no-repeat center;     
    background-size: cover;
    height: 90vh;
}

#quote-area {
    color: white;
    font-weight: normal;
    font-family: "Roboto-Light";
    padding-left: 20px;
    overflow: hidden;
    padding-bottom: 50px;
    background: rgba(0, 0, 0,.5);
}
#quote-area > h5, p {
    margin-top: 0;
}
#quote-area > h5{
    margin-bottom: 5px;
    font-size: 1.6em;
}
#quote-area > p{ 
    margin-bottom: 20px;
}

section {
    display: flex;
    flex-flow: column;
}

article {
    margin: 20px 40px;
    background-color: rgba(255, 255, 255);
    max-height: 373px;
    max-width: 373px;
}
.article_espaco{
    margin: 10px;
}
.font_pequena{
    font-size: smaller;
}
.article_margin_texto{
    margin: 0px 0px 4px 0px;
}
article:hover {
    box-shadow: 2px 1px 23px 4px #D3D3D3;
}
article a img {
    width: 100%;
}

/**************************************************************
    Mobile
**************************************************************/



/**************************************************************
    Desktop
**************************************************************/

@media screen and (min-width: 700px){
    #banner{
        flex-direction: row-reverse;
    }

    #quote-area {
        margin-top: 90px;
        background: none;
        width: 40%;
        background: none;
    }

    section {
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

