/**************************************************************
    Comum
**************************************************************/

#banner{
    display: flex;
    flex-direction: column-reverse;
    background: url("../img/wallpaper_basket_pc.jpg") no-repeat center;     
    background-size: cover;
    height: calc(100vh - 60px);
}
.banner_link{
    color: var(--color-light-gray);
    border: var(--color-light-gray) 2px solid;
    background: none;
    border-radius: 7px;
    padding: 6px 30px;
    cursor: pointer;
    font-size: 14px;
}
.banner_link:hover{
    background: var(--cor3);
}
#quote-area {
    color: white;
    font-weight: normal;
    font-family: "Roboto-Light";
    padding-left: 20px;
    overflow: hidden;
    padding-bottom: 50px;
    background: rgba(0, 0, 0,.5);
}
#quote-area > h5, p {
    margin-top: 0;
}
#quote-area > h5{
    margin-bottom: 5px;
    font-size: 1.6em;
}
#quote-area > p{ 
    margin-bottom: 20px;
}

section {
    display: flex;
    align-items: center;
    flex-flow: column;
    margin-bottom: 50px;
}

article {
    margin: 20px 40px;
    background-color: rgba(255, 255, 255);
    max-height: 380px;
    max-width: 350px;
    border-radius: 10px;
    box-shadow: 2px 1px 23px 4px #D3D3D3;
}
article > a > img{
    border-radius: 10px 10px 0 0;
    width: 100%;
}
.article_img_border_top {
    border-radius: 10px 10px 0 0;
}
.article_espaco{
    margin: 5px 10px 20px 10px;
}
.font_pequena{
    font-size: smaller;
}
.article_margin_texto{
    margin: 0 0 10px 0;
}

#texto_indicador_container{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    margin-top: 40px;
    padding: 0px 35%;
}

.texto_progresso{
    width: 15px;
    height: 15px;
    background-color: rgba(255, 255, 255,0);
    border: 1px solid white;
    border-radius: 100%;
    transition: background-color 600ms;
    cursor: pointer;
}
.texto_progresso_selecionado{
    background-color: rgba(255, 255, 255,1);
}
/**************************************************************
    Mobile
**************************************************************/



/**************************************************************
    Desktop
**************************************************************/

@media screen and (min-width: 700px){
    #banner{
        flex-direction: row-reverse;
    }

    #quote-area {
        margin-top: 90px;
        background: none;
        width: 40%;
        background: none;
    }

    section {
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

