/*****************************************************************
    Comum
*****************************************************************/

@font-face {
        font-family: "Roboto-Regular";
        src: url('fonts/Roboto-Regular.ttf');
}

@font-face {
        font-family: "Roboto-Bold";
        src: url('fonts/Roboto-Bold.ttf');
}

@font-face {
        font-family: "Roboto-Light";
        src: url('fonts/Roboto-Light.ttf');
}


:root{
    --cor1: #081644;
    --cor2: #aaaba6;
    --cor3: #020A13;
    --color-light-gray: #ddd;
    --color-gray: #F4F4F4;
}

body {
    margin:0;
    font-family: "Roboto-Regular";
    display: grid;
    grid-template-areas:    "header" 
                            "main" 
                            "footer";
}

header {
    grid-area: header;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    border-bottom: 2px solid var(--cor1);
}

#logo{
    flex: 1;
}

#logo img{
    max-height: 60px;
    margin-left: 20px;
}

#menu {
    flex: 2;
    display: flex;
    justify-content: space-around;
    flex-flow: column;
    margin: 30px 0 0 0;
}

#menu li{
    list-style: none;
    text-align: center;
}

#menu a {
    text-decoration: none;
    color: black;
    transition: color 0.8s ;
}

main {
    grid-area: main;
    display: grid;
    background-color: var(--color-gray);
}

footer {
   grid-area: footer;
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
   grid-gap: 10px;
   padding: 0px 10%;
   background-color: var(--cor3);
   color: white;
}

.button{
    border: 2px solid var(--cor2);
    border-radius: 5px;
    font-weight: bold;
    padding: 8px 24px;
    color: inherit;
    transition: color 0.8s ;
    background-color: var(--cor1);
    transition: background-color 0.8s;
}

.button:hover{
   background-color: rgb(40, 32, 30, .1);
}

footer i{
    margin-right: 10px;
}


footer ul{
    list-style: none;
    padding:0;
    margin: 0;
}

footer div:nth-of-type(3) > ul > li{
    display: inline;
    padding: 4px;
}

footer a{
    text-decoration: none;
    color:white;
}

footer p:last-child {
   border-top: 1px solid grey;
   text-align: center;
   padding-top: 16px;
}

section {
    display: flex;
    flex-flow: row wrap;
}

/*****************************************************************
    Mobile
*****************************************************************/

header {
   
}

#menu  {
}

#menu li {
}

#menu li a {

}

/*************************************************************
    Desktop
*************************************************************/

 @media screen and (min-width:1200px){
     
header {
    flex-flow: row;
    height: 10vh;
}

#logo img{
    max-height: 100%;
}

#menu {
    flex: 2;
    flex-flow: row;
    display: flex;
    margin: 30px 0 0 0;
}

.actual-pagina {
    border-bottom: 5px solid var(--cor1);
}

#menu li a:hover{
    color: var(--cor1);
}

footer{
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
}

footer p:last-child {
   grid-column-end: span 3;
}

} 