/* BODY
/* container */

#container
{
    width: 90%;
    margin: 0 auto;
    overflow: auto;
}

#location
{
    height: 12em;
    width: 60%;
    margin: 5% auto;
}

#location iframe
{
    height: auto;
    width: 100%;
}

/* CONTACTS */

#contactos {
    float: left;
    margin: 0;
}

form {
    margin-left: 20%;
    margin-top: 3%;
    margin-bottom: 5%;
}

#media {
    text-align: center;
    padding-left: 20px;
    float: right;
}

#media img {
    height: 50px;
    width: 50px;
}