/**************************************************************
    Mobile
**************************************************************/

#banner{
    background: url("../img/wallpaper_basket_pc.jpg") no-repeat center;     
    background-size: cover;
    height: 90vh;
}


#quote-area {
    
    width: 40%;
    color: white;
    padding-top: 100px;
    font-weight: normal;
    font-family: "Roboto-Light";
    margin-left: auto;
}

#quote-area span{
    font-weight: bold;
    font-size: 1.6em;
    font-family: "Roboto-Bold";
}

section {
    display: flex;
    flex-flow: column;
    margin: 60px 0;
}

article {
    margin: 20px 40px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: white;
    border: 1px solid var(--color-light-gray);
}

article a img {
    width: 100%;
}

/**************************************************************
    Mobile
**************************************************************/



/**************************************************************
    Desktop
**************************************************************/

@media screen and (min-width:1200px){

section {
    padding: 0;
}
    

article {
   flex: 1;
}

}

