.content {
    width: 80%;
    margin: 0 auto;
    overflow: auto;
}

.content img {
    width: 100px;
    height: auto;
    border-radius: 10%;
    float: left;
    margin: 0 3%;
    
}


